bcrypt
click
colorama
cx-Oracle
dominate
et-xmlfile
Flask
Flask-Bootstrap
Flask-WTF
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
openpyxl
pandas
psycopg2
python-dateutil
pytz
six
visitor
Werkzeug
WTForms
zipp
