{% extends 'index.html' %}
{% set active_page = 'beli' %}
{% block body %}

<section id="beli" class="d-flex justify-content-center align-items-center">
  <div class="container margin-title position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <h1>BELI PROPERTY</h1>
      </div>
    </div>
  </div>
</section>

<main id="main">

  <section id="cari-listing" class="beli-content margintop-1cm" data-aos="fade-up">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>Cari Properti</h2>
          <div class="search-set">
            <div class="search-listing">
              <form action="" class="search-bar">
                <input class="input" type="text" placeholder="Lokasi">
                <button class="button" type="submit">Cari</button>
              </form>
              <button class="filter-btn" type="submit">Filter</button>
            </div>

            <div class="filter-search">
              <div class="box-xl-2 box-l-2 box-m-2 box-s-1 padding-10px">
                <div class="dropdown">
                  <select id="tipe_properti" name="tipe_properti">
                    <option value="" selected disabled>Silakan Pilih</option>
                    <option value="Rumah">Rumah</option>
                    <option value="Ruko">Ruko</option>
                    <option value="Apartemen">Apartemen</option>
                    <option value="Gudang">Gudang/Pabrik</option>
                    <option value="Tanah">Tanah/Kavling</option>
                    <option value="Office-Space">Ruang Usaha</option>
                    <option value="Office-Space">Lainnya</option>
                  </select>
                </div>
              </div>
              <div class="box-xl-2 box-l-2 box-m-2 box-s-1 padding-10px">
                <div class="dropdown">
                  <select id="sertifikat" name="sertifikat">
                    <option value="" selected disabled>Sertifikat</option>
                    <option value="SHM (Surat Hak Milik)">SHM (Surat Hak Milik)</option>
                    <option value="HGB (Hak Guna Bangunan)">HGB (Hak Guna Bangunan)</option>
                    <option value="HS (Hak Sewa)">HS (Hak Sewa)</option>
                    <option value="HPL">HPL</option>
                    <option value="SHMSRS">SHMSRS</option>
                    <option value="Hak">Hak Guna Usaha</option>
                    <option value="HGB">HGB diatas HPL</option>
                    <option value="Tanah">Tanah Adat</option>
                    <option value="PPJB">PPJB</option>
                    <option value="Girik">Girik</option>
                    <option value="Ajb">Ajb</option>
                </select>
                </div>
              </div>
              <div class="box-xl-4 box-l-2 box-m-2 box-s-1 padding-10px">
                <div class="listing-textfield">
                  <form action="" class="text-field">
                    <p>Rp</p>
                    <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Harga Min.">
                  </form>
                </div>
              </div>
              <div class="box-xl-4 box-l-2 box-m-2 box-s-1 padding-10px">
                <div class="listing-textfield">
                  <form action="" class="text-field">
                    <p>Rp</p>
                    <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Harga Maks.">
                  </form>
                </div>
              </div>
              <div class="box-xl-4 box-l-2 box-m-2 box-s-1 padding-10px">
                <div class="listing-textfield">
                  <form action="" class="text-field">
                    <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Luas Min.">
                    <p>m<sup>2</sup></p>
                  </form>
                </div>
              </div>
              <div class="box-xl-4 box-l-2 box-m-2 box-s-1 padding-10px">
                <div class="listing-textfield">
                  <form action="" class="text-field">
                    <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Luas Maks.">
                    <p>m<sup>2</sup></p>
                  </form>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="beli1" class="beli-content margintop-1cm">
    <div class="container">
      
      <div class="row margintop-1cm">
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <div class="listing-img">
              <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Judul</div>
              <div class="harga">Rp00.000.000.000</div>
              <div class="fasilitas">Fasilitas | Fasilitas | Fasilitas</div>
            </div>
          </a>
        </div>
        
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <div class="listing-img">
              <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Judul</div>
              <div class="harga">Rp00.000.000.000</div>
              <div class="fasilitas">Fasilitas | Fasilitas | Fasilitas</div>
            </div>
          </a>
        </div>
        
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <div class="listing-img">
              <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Judul</div>
              <div class="harga">Rp00.000.000.000</div>
              <div class="fasilitas">Fasilitas | Fasilitas | Fasilitas</div>
            </div>
          </a>
        </div>
        
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <div class="listing-img">
              <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Judul</div>
              <div class="harga">Rp00.000.000.000</div>
              <div class="fasilitas">Fasilitas | Fasilitas | Fasilitas</div>
            </div>
          </a>
        </div>
        
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <div class="listing-img">
              <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Judul</div>
              <div class="harga">Rp00.000.000.000</div>
              <div class="fasilitas">Fasilitas | Fasilitas | Fasilitas</div>
            </div>
          </a>
        </div>
        
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <div class="listing-img">
              <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Judul</div>
              <div class="harga">Rp00.000.000.000</div>
              <div class="fasilitas">Fasilitas | Fasilitas | Fasilitas</div>
            </div>
          </a>
        </div>
        
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <div class="listing-img">
              <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Judul</div>
              <div class="harga">Rp00.000.000.000</div>
              <div class="fasilitas">Fasilitas | Fasilitas | Fasilitas</div>
            </div>
          </a>
        </div>
        
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <div class="listing-img">
              <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Judul</div>
              <div class="harga">Rp00.000.000.000</div>
              <div class="fasilitas">Fasilitas | Fasilitas | Fasilitas</div>
            </div>
          </a>
        </div>
        
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <div class="listing-img">
              <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Judul</div>
              <div class="harga">Rp00.000.000.000</div>
              <div class="fasilitas">Fasilitas | Fasilitas | Fasilitas</div>
            </div>
          </a>
        </div>
        
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <div class="listing-img">
              <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Judul</div>
              <div class="harga">Rp00.000.000.000</div>
              <div class="fasilitas">Fasilitas | Fasilitas | Fasilitas</div>
            </div>
          </a>
        </div>
        
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <div class="listing-img">
              <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Judul</div>
              <div class="harga">Rp00.000.000.000</div>
              <div class="fasilitas">Fasilitas | Fasilitas | Fasilitas</div>
            </div>
          </a>
        </div>
        
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <div class="listing-img">
              <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Judul</div>
              <div class="harga">Rp00.000.000.000</div>
              <div class="fasilitas">Fasilitas | Fasilitas | Fasilitas</div>
            </div>
          </a>
        </div>
      </div>

      <nav aria-label="page-navigation">
        <ul class="pagination justify-content-center">
          <li class="hlmn-item">
            <a class="hlmn-link" href="#"><span aria-hidden="true">&laquo;</span>Previous</a>
          </li>
          <li class="hlmn-item"><a class="hlmn-link" href="#">1</a></li>
          <li class="hlmn-item"><a class="hlmn-link" href="#">2</a></li>
          <li class="hlmn-item"><a class="hlmn-link" href="#">3</a></li>
          <li class="hlmn-item"><a class="hlmn-link" href="#">4</a></li>
          <li class="hlmn-item"><a class="hlmn-link" href="#">5</a></li>
          <li class="hlmn-item">
            <a class="hlmn-link" href="#">Next<span aria-hidden="true">&raquo;</span></a>
          </li>
        </ul>
      </nav>
      
    </div>
  </section>

</main>

{% endblock %}