{% extends 'index.html' %}
{% set active_page = 'properti baru' %}
{% block body %}

<section id="propbar" class="d-flex justify-content-center align-items-center">
  <div class="container margin-title position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <h2>PROJECT ERA SKY</h2> 
      </div>
    </div>
  </div>
</section>

<main>
  <section>
    <div class="container">
      <div class="row margintop-1cm">

        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="https://www.multibizpark.id/" target="_blank">
            <div class="listing-img">
              <img src="../static/img/project_erasky/multibizpark.png" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Multi Bizpark</div>
              <div class="detail-propbar">Kawasan komersial ruko dan pergudangan ekslusif dan terluas di kota Bekasi yang berdiri diatas seluas 10 hektar</div>
            </div>
          </a>
        </div>
        
        <div class="box-xl-3 box-l-3 box-m-2 box-s-2 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="https://www.darmawangsa-bekasi.com/" target="_blank">
            <div class="listing-img">
              <img src="../static/img/project_erasky/logo-darmawangsa.png" class="properti" alt="">
            </div>
            <div class="listing-desc">
              <div class="judul">Darmawangsa</div>
              <div class="detail-propbar">Kota Hijau terbesar di Bekasi</div>
            </div>
          </a>
        </div>
        
      </div>
    </div>
  </section>
</main>

{% endblock %}