{% extends 'index.html' %}
{% set active_page = 'agen kami' %}
{% block body %}

<section id="agen-kami" class="d-flex justify-content-center align-items-center">
  <div class="container margin-title position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <h2>AGEN KAMI</h2>
      </div>
    </div>
  </div>
</section>

<main id="main">

  <!-- ======= Contact Section ======= -->
  <section class="contact margintop-1cm" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">

      <div class="row">
        <div class="section-1" data-aos="fade-up">
          <h2>Summarecon Bekasi</h2>
          <div class="red-line">
            <div class="line"> </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- ======= Map Section ======= -->
  <section class="map mt-2 margin-bottom-2">
    <div class="container container-fluid p-0 d-flex justify-content-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.5662439392878!2d107.00175459037953!3d-6.228754938464645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698da422916c53%3A0xe555f8f8df8b477d!2sERA%20SKY%20SUMMARECON%20BEKASI!5e0!3m2!1sen!2sid!4v1679685038107!5m2!1sen!2sid" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
  </section>

  <section class="team">
    <div class="swiper swiping container">
      <div class="swiper-wrapper">
        <div class="swiper-slide width-80">
          <div class="card-wrapper d-flex align-items-center justify-content-center">
          
            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/Andre-N-210x210.png" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Andre</h2>
                <p class="description">Mobile : 0822 7209 1879</p>
                <p class="description">Email : andre.erasky@gmail.com</p>
              </div>
            </div>
            
            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/Henri-210x210.jpg" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Henry</h2>
                <p class="description">Mobile : 0812 1880 0606</p>
                <p class="description">Email : henry.erasky@gmail.com</p>
              </div>
            </div>
  
            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/Shindi-210x210.jpg" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Shindi Sahara</h2>
                <p class="description">Mobile : 0852 2904 5118</p>
                <p class="description">Email : shindi.erasky@gmail.com</p>
              </div>
            </div>

            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/20220625_232722-210x210.jpg" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Bayu Wisudani</h2>
                <p class="description">Mobile : 0821 1717 9980</p>
                <p class="description">Email : bayu.erasky@gmail.com</p>
              </div>
            </div>
  
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-wrapper d-flex align-items-center justify-content-center">
          
            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/Aldi-210x210.png" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Aldi</h2>
                <p class="description">Mobile : 0878 2417 8517</p>
                <p class="description">Email : aldi.erasky@gmail.com</p>
              </div>
            </div>
            
            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/Nova-210x210.png" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Nova</h2>
                <p class="description">Mobile : 0812 8025 3995</p>
                <p class="description">Email : yuliana.erasky@gmail.com</p>
              </div>
            </div>
  
            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/Shindi-210x210.jpg" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Shindi Sahara</h2>
                <p class="description">Mobile : 0852 2904 5118</p>
                <p class="description">Email : shindi.erasky@gmail.com</p>
              </div>
            </div>

            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/20220625_232722-210x210.jpg" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Bayu Wisudani</h2>
                <p class="description">Mobile : 0821 1717 9980</p>
                <p class="description">Email : bayu.erasky@gmail.com</p>
              </div>
            </div>
  
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-wrapper d-flex align-items-center justify-content-center">
          
            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/Andre-N-210x210.png" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Andre</h2>
                <p class="description">Mobile : 0822 7209 1879</p>
                <p class="description">Email : andre.erasky@gmail.com</p>
              </div>
            </div>
            
            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/Henri-210x210.jpg" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Henry</h2>
                <p class="description">Mobile : 0812 1880 0606</p>
                <p class="description">Email : henry.erasky@gmail.com</p>
              </div>
            </div>
  
            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/Shindi-210x210.jpg" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Shindi Sahara</h2>
                <p class="description">Mobile : 0852 2904 5118</p>
                <p class="description">Email : shindi.erasky@gmail.com</p>
              </div>
            </div>

            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/20220625_232722-210x210.jpg" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Bayu Wisudani</h2>
                <p class="description">Mobile : 0821 1717 9980</p>
                <p class="description">Email : bayu.erasky@gmail.com</p>
              </div>
            </div>
  
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-wrapper d-flex align-items-center justify-content-center">
          
            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/Andre-N-210x210.png" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Andre</h2>
                <p class="description">Mobile : 0822 7209 1879</p>
                <p class="description">Email : andre.erasky@gmail.com</p>
              </div>
            </div>
            
            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/Henri-210x210.jpg" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Henry</h2>
                <p class="description">Mobile : 0812 1880 0606</p>
                <p class="description">Email : henry.erasky@gmail.com</p>
              </div>
            </div>
  
            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/Shindi-210x210.jpg" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Shindi Sahara</h2>
                <p class="description">Mobile : 0852 2904 5118</p>
                <p class="description">Email : shindi.erasky@gmail.com</p>
              </div>
            </div>

            <div class="agent-card col-lg-3 col-md-6">
              <div class="image-content">
                <div class="card-image">
                  <img src="../static/img/team/20220625_232722-210x210.jpg" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Bayu Wisudani</h2>
                <p class="description">Mobile : 0821 1717 9980</p>
                <p class="description">Email : bayu.erasky@gmail.com</p>
              </div>
            </div>
  
          </div>
        </div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

</main>

{% endblock %}