{% extends 'index.html' %}
{% set active_page = 'home' %}
{% block body %}

<section id="home1" class="d-flex justify-cntent-center align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <h2>Properti Bekasi - Era Sky</h2>
        <!-- <p>Your Profesional and Trusted Property Agent</p> -->
        <p>Agen Properti Profesional dan Terpercaya</p>
        <div class="search-holder">
          <form action="" class="search-bar">
            <input type="text" placeholder="Cari Properti">
            <button type="submit">Cari</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<main id="main">

  <!-- ======= Services Section ======= -->
  <section id="home2" class="home-content">
    <div class="container">

      <div class="row">
        <div class="section-title" data-aos="fade-up">
          <h2>Era Sky Top #1 Property Agent Regional Bekasi</h2>
          <div class="red-line">
            <div class="line"> </div>
          </div>
          <p>Temukan rumah impian Anda dengan Erasky Bekasi!<br>
            Kami menyediakan layanan jual-beli rumah, pembelian rumah aman dan mudah, serta berbagai tipe rumah dan harga yang sesuai dengan budget Anda. Percayakan kebutuhan properti Anda kepada kami dan rasakan pengalaman yang tak terlupakan!</p>
        </div>
      </div>

      <div class="row margin-1cm">
        <div class="col-md-6 col-lg-2 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box">
            <div class="icon"><img src="../static/img/icon/rumah.svg" class="iconsd filter-red"></div>
            <h4 class="title1"><a href="">Rumah</a></h4>
            <!-- <p class="description">Komitmen kami adalah memberikan pelayanan terbaik kepada anda dalam memenuhi kebutuhan properti</p> -->
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><img src="../static/img/icon/ruko.svg" class="iconsd filter-red"></div>
            <h4 class="title1"><a href="">Ruko</a></h4>
            <!-- <p class="description">Dengan sistem yang jelas, keamanan dalam bertransaksi properti menjadi prioritas kami</p> -->
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><img src="../static/img/icon/gudang-pabrik.svg" class="iconsd filter-red"></div>
            <h4 class="title1"><a href="">Gudang-Pabrik</a></h4>
            <!-- <p class="description">Menjadi mitra anda yang memberikan informasi secara transparan dan solusi yang tepat</p> -->
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><img src="../static/img/icon/tanah-kavling.svg" class="iconsd filter-red"></div>
            <h4 class="title1"><a href="">Tanah-Kavling</a></h4>
            <!-- <p class="description">Selama lebih dari 30 tahun kami berpartisipasi dalam memenuhi kebutuhan properti masyarakat Indonesia</p> -->
          </div>
        </div>
        
        <div class="col-md-6 col-lg-2 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><img src="../static/img/icon/apartment.svg" class="iconsd filter-red"></div>
            <h4 class="title1"><a href="">Apartment</a></h4>
            <!-- <p class="description">Selama lebih dari 30 tahun kami berpartisipasi dalam memenuhi kebutuhan properti masyarakat Indonesia</p> -->
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><img src="../static/img/icon/office-space.svg" class="iconsd filter-red"></div>
            <h4 class="title1"><a href="">Office-Space</a></h4>
            <!-- <p class="description">Selama lebih dari 30 tahun kami berpartisipasi dalam memenuhi kebutuhan properti masyarakat Indonesia</p> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="section-title" data-aos="fade-up">
          <h2>Hot Listing</h2>
          <div class="red-line">
            <div class="line"> </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            <p class="judul">Judul</p>
            <h4 class="harga">Rp00.000.000.000</h4>
            <p class="fasilitas">Fasilitas | Fasilitas | Fasilitas</p>
          </a>
        </div>
  
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            <p class="judul">Judul</p>
            <h4 class="harga">Rp00.000.000.000</h4>
            <p class="fasilitas">Fasilitas | Fasilitas | Fasilitas</p>
          </a>
        </div>
  
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <a class="listing-box" href="{{ url_for('beli_detail_listing')}}">
            <img src="../static/img/1_Rumah-Modern-dengan-Dinding-Batu-Alam_tiperumahminimalis.blogspot.com.jpg" class="properti" alt="">
            <p class="judul">Judul</p>
            <h4 class="harga">Rp00.000.000.000</h4>
            <p class="fasilitas">Fasilitas | Fasilitas | Fasilitas</p>
          </a>
        </div>

      </div>
    </div>
  </section>

  <!-- ======= Tentang Kami ======= -->
  <section class="home-content margintop-1cm" data-aos="fade-up" date-aos-delay="200">
    <div class="container">

      <div class="row">
        <div class="section-title" data-aos="fade-up">
          <h2>Tentang Kami</h2>
          <div class="red-line">
            <div class="line"> </div>
          </div>
        </div>
      </div>
      
      <div class="row red-background align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-6 video-box">
          <img src="../static/img/era-sky-video.png" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=EFoTo0ztEQI" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <div class="icon-box2">
            <h4 class="title2"><a href="">Era Sky Bekasi</a></h4>
            <p class="description2">Perjalanan Era Sky Bekasi dalam mewujudkan property idaman masyarakat Indonesia</p>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  <!-- ======= Features Section ======= -->
  <section class="features margintop-1cm">
    <div class="container">

      <div class="section-title">
        <h2>Partner Kami</h2>
        <div class="red-line">
          <div class="line"> </div>
        </div>
      </div>

      <div class="partner-holder">
        <img class="partner" src="../static/img/our_partners.jpg" alt="">
      </div>

      <div class="section-title margin-1cm">
        <h2>Simulasi Kredit <i class="bi bi-chevron-down"></i></h2>
      </div>

    </div>
  </section><!-- End Features Section -->

</main>

{% endblock %}