{% extends 'index.html' %}
{% set active_page = 'buat listing' %}
{% block body %}

<section id="beli" class="d-flex justify-content-center align-items-center">
    <div class="container margin-title position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h2>KONFIRM LISTING</h2>
            </div>
        </div>
    </div>
</section>

<main>
    <section id="buat-listing" class="">
        <div class="container">
            <div class="row margintop-1cm marginbottom-1cm">
                <div class="table-listing">
                    <div class="card-header pb-0">
                      <h6 style="text-transform: uppercase;">Table Pending Listing</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                      <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">Waktu</th>
                              <th class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">Jual/Sewa</th>
                              <th class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">Judul Listing</th>
                              <th class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">Tipe</th>
                              <th class="text-center text-uppercase text-secondary font-weight-bolder opacity-7">Keterangan</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for pl in data %}
                            <tr data-href="{{ url_for('kl_listing_masuk', id_listing=pl.id_listing)}}">
                                <td class="text-center">
                                  <P class="data-listing">{{pl.waktu}}</P>
                                </td>
                                <td class="text-center">
                                  <P class="data-listing">{{pl.jual_sewa}}</P>
                                </td>
                                <td class="text-center">
                                  <P class="data-listing">{{pl.judul_iklan}}</P>
                                </td>
                                <td class="text-center">
                                  <p class="data-listing">{{pl.tipe_properti}}</p>
                                </td>
                                <td class="text-center">
                                  <p class="ket-data">{{pl.status}}</p>
                                </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}