{% extends 'index.html' %}
{% set active_page = 'properti baru' %}
{% block body %}

<section id="propbar" class="d-flex justify-content-center align-items-center">
  <div class="container margin-title position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <h2>PROJECT ERA SKY</h2> 
      </div>
    </div>
  </div>
</section>

<main>
  <section>
    <div class="container">
      <div class="row margintop-1cm">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
          <a class="propbar-box" href="https://www.multibizpark.id/" target="_blank">
            <img src="../static/img/project_erasky/multibizpark.png" class="propbar" alt="">
            <h4 class="judul-propbar">Judul</h4>
            <p class="detail-propbar">Detail</p>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
          <a class="propbar-box" href="https://www.multibizpark.id/" target="_blank">
            <img src="../static/img/project_erasky/multibizpark.png" class="propbar" alt="">
            <h4 class="judul-propbar">Judul</h4>
            <p class="detail-propbar">Detail</p>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
          <a class="propbar-box" href="https://www.multibizpark.id/" target="_blank">
            <img src="../static/img/project_erasky/multibizpark.png" class="propbar" alt="">
            <h4 class="judul-propbar">Judul</h4>
            <p class="detail-propbar">Detail</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}