{% extends 'index.html' %}
{% set active_page = 'detail listing beli' %}
{% block body %}

<!-- <section id="detail-listing">
  <div class="container">
    <div class="d-list">
      <div class="swiper swiping box-xl-23 box-l-23 box-m-1 box-s-1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../static/img/property/06.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../static/img/property/07.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../static/img/property/08.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../static/img/property/09.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../static/img/property/10.jpg" alt="">
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="carousels box-xl-13 box-l-13 box-m-1 box-s-1">
        <div class="sub-img">
          <img src="../static/img/property/06.jpg" alt="">
        </div>
        <div class="sub-img">
          <img src="../static/img/property/06.jpg" alt="">
        </div>
        <div class="sub-img">
          <img src="../static/img/property/06.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="carousel">
  <div class="container">
    <div class="rowz">
      <div class="carousel-wrapper swiping">
        <div class="swiper-wrapper">

          <div class="swiper-slide" data-slide>
            <img src="../static/img/property/06.jpg" alt="">
          </div>
          <div class="swiper-slide" data-slide>
            <img src="../static/img/property/07.jpg" alt="">
          </div>
        </div>


        <button class="cbtn previous" data-button="previous">
          <i class="bi bi-chevron-left"></i>
        </button>
        <button class="cbtn next" data-button="next">
          <i class="bi bi-chevron-right"></i>
        </button>

      </div>
    </div>
  </div>
</section>

<main id="main">

    <section id="beli-detail" class="">
      <div class="container">
        <div class="rowz">
          <div class="box-xl-23 box-l-23 box-m-1 box-s-1">
            <div class="title-dl">
              <div class="title-detail space-between">

                <div class="judul-listing">
                  <h3>{{data.judul_iklan}}</h3>
                </div>
                <div class="harga-listing">
                  <h3>Rp {{data.harga_jual}}</h3>
                </div>
                <div class="fasilitas-listing d-flex">
                  <div>
                    <img src="../static/img/icon/double-bed.svg" class="icon-listing filter-red" alt="">
                    <span>{{data.jmlh_kmr_tidur}} K.Tidur</span>
                  </div>
                  <div>
                    <img src="../static/img/icon/bathroom.svg" class="icon-listing filter-red" alt="">
                    <span>{{data.jmlh_kmr_mandi}} K.Mandi</span>
                  </div>
                  <div>
                    <img src="../static/img/icon/square-ruler-tool.svg" class="icon-listing filter-red" alt="">
                    <span>{{data.luas_tanah}} m<sup>2</sup></span>
                  </div>
                  <div>
                    <img src="../static/img/icon/square-ruler-tool.svg" class="icon-listing filter-red" alt="">
                    <span>{{data.luas_bangunan}} m<sup>2</sup></span>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="description-detail">
              <div class="tab-box">
                <button class="tab-btn active">Deskripsi</button>
                <button class="tab-btn">Fasilitas</button>
                <button class="tab-btn">Video</button>
                <button class="tab-btn">Lokasi</button>
              </div>
              <div class="content-box">
                <div class="detail-content active">
                  <div class="bagian-1">
                    <h2>Detail Properti</h2>

                    <div class="detail-properti d-flex">
                      <div class="detail-deskripsi">
                        <div class="d-flex">
                          <div class="text-1"><p>ID Properti</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>RH-79849-property</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Tipe Properti</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>Rumah</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Status Properti</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>Dijual</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Status Kepemilikan</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>Sertifikat Hak Milik</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Harga</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>Rp1,500,000,000</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Luas Tanah</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>170</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Luas Bangunan</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>135</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Jumlah Lantai</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>2</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Kecamatan</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p></p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Kamar Tidur</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>4+1</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Kamar Mandi</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>2+1</p></div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="bagian-2 margintop-1cm">
                    <h2>Deskripsi Properti</h2>
                    <p>{{data.deskripsi}}</p>
                  </div>
                </div>
                <div class="detail-content">
                  <h2>Fasilitas Properti</h2>
                  <p>Fasilitas</p>
                </div>
                <div class="detail-content">
                  <h2>Video Properti</h2>
                  <p>Deskripsi</p>
                </div>
                <div class="detail-content">
                  <h2>Lokasi Properti</h2>
                  <p>Gmaps</p>
                </div>
              </div>
            </div>
          </div>
          <div class="box-xl-3 col-lg-4">
            <div class="contact-agent">
              <div class="agent-info">
                <div class="foto-marketing">
                  <img src="../static/img/team/Andre-N-210x210.png" alt="">
                </div>
                <div class="kontak-agen">
                  <p>Andre</p>
                  <div class="marketing-btn">
                    <a class="wa-btn" href="https://wa.me/+6282272091879?text=Halo,%20saya%20ingin%20bertanya-tanya%20mengenai%20Project%20Darmawangsa">
                      Whatsapp
                    </a>
                  </div>
                  <div class="marketing-btn">
                    <a class="em-btn" href="andre.erasky@gmail.com">
                      Email
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section id="beli-detail" class="">
      <div class="container">
        <div class="rowz">
          <div class="box-xl-23 col-lg-8">
            <div class="description-detail">
              <div class="tab-box">
                <button class="tab-btn active">Deskripsi</button>
                <button class="tab-btn">Fasilitas</button>
                <button class="tab-btn">Video</button>
                <button class="tab-btn">Lokasi</button>
              </div>
              <div class="content-box">
                <div class="detail-content active">
                  <div class="bagian-1">
                    <h2>Detail Properti</h2>
                    <div class="detail-properti d-flex">
                      <div class="detail-deskripsi col-lg-4">
                        <div class="d-flex">
                          <div class="text-1"><p>ID Properti</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>RH-79849-property</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Tipe Properti</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>Rumah</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Status Properti</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>Dijual</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Status Kepemilikan</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>Sertifikat Hak Milik</p></div>
                        </div>
                      </div>

                      <div class="detail-deskripsi col-lg-4">
                        <div class="d-flex">
                          <div class="text-1"><p>Harga</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>Rp1,500,000,000</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Luas Tanah</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>170</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Luas Bangunan</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>135</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Jumlah Lantai</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>2</p></div>
                        </div>
                      </div>

                      <div class="detail-deskripsi col-lg-4">
                        <div class="d-flex">
                          <div class="text-1"><p>Kecamatan</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p></p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Kamar Tidur</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>4+1</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Kamar Mandi</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>2+1</p></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bagian-2 margintop-1cm">
                    <h2>Deskripsi Properti</h2>
                    <p>Rumah 2 lantai bebas banjir di kemang pratama 2, bekasi
                      Lokasi strategis dekat dng pusat keramaian, kuliner, sekolah dan rumah ibadah.
                      -IE-</p>
                  </div>
                </div>
                <div class="detail-content">
                  <h2>Fasilitas Properti</h2>
                  <p>Fasilitas</p>
                </div>
                <div class="detail-content">
                  <h2>Video Properti</h2>
                  <p>Deskripsi</p>
                </div>
                <div class="detail-content">
                  <h2>Lokasi Properti</h2>
                  <p>Gmaps</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

</main>

{% endblock %}