{% extends 'index.html' %}
{% set active_page = 'detail listing beli' %}
{% block body %}

<section id="detail-listing">
  <div class="swiper swiping">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../static/img/property/06.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../static/img/property/07.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../static/img/property/08.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../static/img/property/09.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../static/img/property/10.jpg" alt="">
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- <section id="detail-listing">
  <div class="rowz">
    <div class="left-pict col-lg-6">
      <div class="pict1 d-flex">
        <img class="" src="../static/img/property/06.jpg" alt="">
      </div>
    </div>
    <div class="right-pict col-lg-6">
      <div class="pict2 col-lg-6">
        <img class="" src="../static/img/property/07.jpg" alt="">
      </div>
      <div class="pict3 col-lg-6">
        <img class="" src="../static/img/property/08.jpg" alt="">
      </div>
      <div class="pict4 col-lg-6">
        <img class="" src="../static/img/property/09.jpg" alt="">
      </div>
      <div class="pict5 col-lg-6">
        <img class="" src="../static/img/property/10.jpg" alt="">
      </div>
    </div>

  </div>
</section> -->

<main id="main">

    <section id="beli-detail" class="margintop-1cm">
      <div class="container">
        <div class="row">
          <div class="title-dl">
            <div class="title-detail space-between">
              <div class="left-title">
                <h2>Dijual Rumah Asri Bebas Banjir dan Siap Huni di Jalan Amarilis 2 Kemang Pratama 2</h2>
                <p>Kemang Pratama 2 Bekasi</p>
              </div>
              <div class="right-title">
                <div class="judul-properti d-flex align-items-center">
                  <h2>Rp00.000.000.000</h2>
                  <span>
                    <span class="label-nego">Nego</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="fasilitas-listing d-flex">
              <div>
                <img src="../static/img/icon/double-bed.svg" class="icon-listing filter-red" alt="">
                <span>4+1 Kamar Tidur</span>
              </div>
              <div>
                <img src="../static/img/icon/bathroom.svg" class="icon-listing filter-red" alt="">
                <span>2+1 Kamar Mandi</span>
              </div>
              <div>
                <img src="../static/img/icon/square-ruler-tool.svg" class="icon-listing filter-red" alt="">
                <span>135 M<sup>2</sup></span>
              </div>
              <div>
                <img src="../static/img/icon/square-ruler-tool.svg" class="icon-listing filter-red" alt="">
                <span>170 M<sup>2</sup></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="beli-detail" class="margintop-1cm">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 col-lg-8">
            <div class="description-detail">
              <div class="tab-box">
                <button class="tab-btn active">Deskripsi</button>
                <button class="tab-btn">Fasilitas</button>
                <button class="tab-btn">Video</button>
                <button class="tab-btn">Lokasi</button>
              </div>
              <div class="content-box">
                <div class="detail-content active">
                  <div class="bagian-1">
                    <h2>Detail Properti</h2>
                    <div class="detail-properti d-flex">
                      <div class="detail-deskripsi col-lg-4">
                        <div class="d-flex">
                          <div class="text-1"><p>ID Properti</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>RH-79849-property</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Tipe Properti</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>Rumah</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Status Properti</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>Dijual</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Status Kepemilikan</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>Sertifikat Hak Milik</p></div>
                        </div>
                      </div>

                      <div class="detail-deskripsi col-lg-4">
                        <div class="d-flex">
                          <div class="text-1"><p>Harga</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>Rp1,500,000,000</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Luas Tanah</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>170</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Luas Bangunan</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>135</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Jumlah Lantai</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>2</p></div>
                        </div>
                      </div>

                      <div class="detail-deskripsi col-lg-4">
                        <div class="d-flex">
                          <div class="text-1"><p>Kecamatan</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p></p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Kamar Tidur</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>4+1</p></div>
                        </div>
                        <div class="d-flex">
                          <div class="text-1"><p>Kamar Mandi</p></div>
                          <div class="separator"><p>:</p></div>
                          <div class="text-2"><p>2+1</p></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bagian-2 margintop-1cm">
                    <h2>Deskripsi Properti</h2>
                    <p>Rumah 2 lantai bebas banjir di kemang pratama 2, bekasi
                      Lokasi strategis dekat dng pusat keramaian, kuliner, sekolah dan rumah ibadah.
                      -IE-</p>
                  </div>
                </div>
                <div class="detail-content">
                  <h2>Fasilitas Properti</h2>
                  <p>Fasilitas</p>
                </div>
                <div class="detail-content">
                  <h2>Video Properti</h2>
                  <p>Deskripsi</p>
                </div>
                <div class="detail-content">
                  <h2>Lokasi Properti</h2>
                  <p>Gmaps</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4">
            <div class="contact-agent">
              <p>Info Agen</p>
              <div class="red-line justify-content-start">
                <div class="line"></div>
              </div>
              <div class="agent-info">
                <div class="media d-flex">
                  <img src="../static/img/team/Andre-N-210x210.png" alt="">
                  <p>Andre</p>
                </div>
                <div class="kontak-agen">
                  <a>andre.erasky@gmail.com</a>
                  <a>0822 7209 1879</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

</main>

{% endblock %}