{% extends 'index.html' %}
{% set active_page = ' detail listing input' %}
{% block body %}

<main id="main">
    <section id="create-listing">
        <div class="container">
            <div class="row margintop-1cm">
                <div class="input-form">
                    <h4>Marketing</h4>
                    <div class="white-line">
                        <div class="separator-line"> </div>
                    </div>

                    <div class="properti-input">
                        <div class="input-tf inp-1">
                            <p>Email</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Email Marketing">
                            </form>
                        </div>
                        <div class="input-tf inp-2">
                            <p>Nama Marketing</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Nama Marketing">
                            </form>
                        </div>
                        <div class="input-tf inp-2">
                            <p>ID Marketing</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan ID Marketing">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row margintop-1cm">
                <div class="input-form">
                    <h4>Properti</h4>
                    <div class="white-line">
                        <div class="separator-line"> </div>
                    </div>

                    <div class="properti-input">
                        <div class="input-tf inp-2">
                            <p>Nama Pemilik</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Nama Pemilik Properti">
                            </form>
                        </div>
                        <div class="input-tf inp-2">
                            <p>Nomor Telepon Pemilik</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Nomor Telepon Pemilik Properti">
                            </form>
                        </div>
    
                        <div class="dropdown-search inp-2">
                            <p>Properti yang dipasarkan</p>
                            <div class="select">
                                <span class="selected">Silakan Pilih</span>
                                <div class="caret"></div>
                            </div>
                            <ul class="menu-dropdown">
                                <li>Dijual</li>
                                <li>Disewa</li>
                                <li>Dijual dan Disewa</li>
                            </ul>
                        </div>
                        <div class="dropdown-search inp-2">
                            <p>Tipe Properti yang dipasarkan</p>
                            <div class="select">
                              <span class="selected">Silakan Pilih</span>
                              <div class="caret"></div>
                            </div>
                            <ul class="menu-dropdown">
                              <li>Rumah</li>
                              <li>Ruko</li>
                              <li>Apartemen</li>
                              <li>Gudang-Pabrik</li>
                              <li>Tanah-Kavling</li>
                              <li>Apartemen</li>
                              <li>Office-Space</li>
                            </ul>
                        </div>
                        <div class="input-numerik">
                            <p>Harga Jual Properti</p>
                            <div class="text-field">
                                <p>Rp</p>
                                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Masukkan Harga Jual">
                            </div>
                        </div>
                        <div class="input-numerik">
                            <p>Luas Tanah</p>
                            <div class="text-field">
                                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Masukkan Luas Tanah">
                                <p>m<sup>2</sup></p>
                            </div>
                        </div>
                        <div class="input-numerik">
                            <p>Luas Bangunan</p>
                            <div class="text-field">
                                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Masukkan Luas Bangunan">
                                <p>m<sup>2</sup></p>
                            </div>
                        </div>
                        <div class="input-tf inp-1">
                            <p>Alamat Properti</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Alamat Properti">
                            </form>
                        </div>
                        <div class="input-tf inp-1">
                            <p>Share Lokasi</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Link Lokasi">
                            </form>
                        </div>
                        <div class="dropdown-search inp-2">
                            <p>Sertifikat</p>
                            <div class="select">
                              <span class="selected">Silakan Pilih</span>
                              <div class="caret"></div>
                            </div>
                            <ul class="menu-dropdown">
                              <li>SHM (Surat Hak Milik)</li>
                              <li>HGB (Hak Guna Bangunan)</li>
                              <li>HS (Hak Sewa)</li>
                              <li>HPL</li>
                              <li>SHMSRS</li>
                              <li>Hak Guna Usaha</li>
                              <li>HGB diatas HPL</li>
                              <li>Tanah Adat</li>
                              <li>PPJB</li>
                              <li>Girik</li>
                              <li>Ajb</li>
                            </ul>
                        </div>
                        <div class="dropdown-search inp-2">
                            <p>Kondisi Sertifikat</p>
                            <div class="select">
                              <span class="selected">Silakan Pilih</span>
                              <div class="caret"></div>
                            </div>
                            <ul class="menu-dropdown">
                              <li>Dijaminkan</li>
                              <li>Tidak Dijaminkan</li>
                            </ul>
                        </div>
                        <div class="input-tf inp-1">
                            <p>Nama di Sertifikat</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Nama di Sertifikat">
                            </form>
                        </div>
                        <div class="input-tf">
                            <p>Jumlah Kamar Tidur</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Jumlah Kamar Tidur">
                            </form>
                        </div>
                        <div class="input-tf">
                            <p>Jumlah Kamar Mandi</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Jumlah Kamar Mandi">
                            </form>
                        </div>
                        <div class="input-tf">
                            <p>Jumlah Lantai</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Jumlah Lantai">
                            </form>
                        </div>
                        <div class="input-tf inp-1">
                            <p>Fasilitas Lainnya</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Fasilitas Lainnya">
                            </form>
                        </div>
                        <div class="input-tf">
                            <p>Arah Properti</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Kemana Properti Menghadap">
                            </form>
                        </div>
                        <div class="input-tf">
                            <p>Besar Komisi yang wajib dibayarkan</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Besar Komisi">
                            </form>
                        </div>
                        <div class="dropdown-search">
                            <p>Referal</p>
                            <div class="select">
                              <span class="selected">Silakan Pilih</span>
                              <div class="caret"></div>
                            </div>
                            <ul class="menu-dropdown">
                              <li>Ya</li>
                              <li>Tidak</li>
                            </ul>
                        </div>
    
                        <div class="input-tf inp-1">
                            <p>Judul Iklan</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Judul Iklan">
                            </form>
                        </div>
                        <div class="input-tf inp-1">
                            <p>Deskripsi</p>
                            <form action="" class="text-field">
                                <input class="input-marketing" type="text" placeholder="Masukkan Deskripsi">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}